<div>
	<h1>СМТ - Статистика Мира Танков</h1>
	<label>
		Добро пожаловать на наш сайт, где вы можете отслеживать свою статистику в игре Мир Танков! 
		Мы предоставляем подробную информацию о вашей эффективности в боях, позволяя вам анализировать свои успехи и улучшать свою игру. 
		Получайте доступ к детальным отчётам, статистике побед и поражений, среднему урону, эффективности техники, и многому другому. 
		Спланируйте свои следующие шаги, используя нашу удобную и информативную платформу для отслеживания вашего прогресса в Мире Танков.
	</label>
</div>
